---
layout: default
---
I глава. ⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛
 
⬛⬛⬛⬛⬛⬛⬛⬛: Прошло уже несколько лет с момента тех трагических событий. В нашей шаражке стараются о них не вспоминать — я и сам только недавно узнал, когда случайно подслушал разговор старшаков. Ухм... Ну ладно, не случайно! Мне просто тогда стало очень-очень интересно.

⬛⬛⬛⬛⬛⬛⬛: Неужели?

⬛⬛⬛⬛⬛⬛⬛⬛: Говорят, что раньше в университете всё было по-другому: трава ⬛⬛⬛⬛⬛⬛, ⬛⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛⬛... да и ⬛⬛⬛⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛⬛⬛⬛ был не такой обшарпанный. Но к чему ворошить былое? Я вообще-то и сам этого не застал.

* * * * *

⬛⬛⬛⬛⬛: Даров, пацаны! Чуть не опоздал... Всё утро ⬛⬛⬛⬛⬛⬛⬛⬛ свой ⬛⬛⬛⬛⬛⬛⬛ про ⬛⬛⬛⬛⬛⬛⬛⬛, да всё равно ничего толкового не ⬛⬛⬛⬛⬛⬛. Видимо, придётся ещё и вечером ⬛⬛⬛⬛⬛⬛⬛⬛... А то меня ⬛⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛⬛⬛⬛⬛.

Болгар: ⬛⬛⬛⬛⬛, ты забыл что ли? У нас вечером по планам ⬛⬛⬛⬛⬛⬛⬛ — ⬛⬛⬛⬛⬛⬛⬛⬛ приглашает. Он как раз недавно из ⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛⬛ ⬛⬛⬛⬛ ⬛⬛⬛⬛⬛ вернулся, вот и решил ⬛⬛⬛⬛⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛⬛⬛⬛.

⬛⬛⬛⬛⬛: ⬛⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛⬛ ⬛⬛⬛ ⬛⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛ ⬛⬛⬛⬛ ⬛⬛⬛⬛⬛

⬛⬛⬛⬛⬛: Ребят, я бы и сам очень хотел пойти на ⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛, но ничего не сделаешь. У меня и так ⬛⬛⬛⬛ ⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛⬛, а этот ⬛⬛⬛⬛⬛⬛ — очень важный: ⬛⬛⬛⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛⬛⬛⬛, что если я его не ⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛⬛, то ⬛⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛⬛⬛⬛. А ⬛⬛⬛⬛⬛⬛ уже ⬛⬛⬛⬛⬛⬛.

⬛⬛⬛⬛⬛: Ну... хочешь, я тебе ⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛⬛⬛⬛?⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛ ⬛⬛⬛⬛, а ⬛⬛⬛⬛⬛ — ещё лучше. Быстренько всё ⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛, а потом ⬛⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛ ⬛ ⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛.

Болгар: ⬛⬛⬛⬛⬛, ну ты-то куда?..

⬛⬛⬛⬛⬛: Ох... Если тебе не сложно... Я был бы очень благодарен.

⬛⬛⬛⬛⬛: Договорились!
 
* * * * *

⬛⬛⬛⬛⬛⬛⬛⬛⬛: Товарищи! Кто хочет ⬛⬛⬛⬛⬛⬛ ⬛ мой ⬛⬛⬛⬛⬛⬛⬛⬛? Мы будем вместе ⬛⬛⬛⬛⬛⬛⬛ с ⬛⬛⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛⬛⬛⬛⬛! Д⬛⬛⬛⬛⬛⬛⬛ повышения ⬛⬛⬛⬛⬛⬛ и лучших условий для ⬛⬛⬛⬛⬛⬛⬛⬛ ⬛⬛⬛ ⬛⬛⬛⬛⬛⬛!

Технокуб: Ты серьёзно?

⬛⬛⬛⬛⬛: ⬛⬛⬛⬛ ⬛⬛⬛⬛⬛ в ⬛⬛⬛⬛⬛⬛⬛⬛ к ⬛⬛⬛⬛⬛⬛⬛ не ⬛⬛⬛⬛⬛⬛⬛ что ли?

⬛⬛⬛⬛⬛: Свою лапшу на уши ⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛ наматывай! Мы в твою ⬛⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛ н⬛⬛⬛⬛ ⬛⬛⬛⬛⬛⬛

⬛⬛⬛⬛⬛⬛: Как же вы не понимаете?! ⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛⬛⬛ на нас. Она не хочет ⬛⬛⬛⬛⬛⬛ делать во ⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛. ⬛⬛⬛⬛⬛⬛⬛⬛ и ⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛ давно стали ⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛. ⬛⬛⬛⬛⬛⬛⬛⬛ с этим ⬛⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛⬛⬛⬛? ⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛?!

⬛⬛⬛⬛⬛: Ну... как бы тебе сказать. Нет?

Технокуб: Полная хуйня. Если бы мы могли ⬛⬛⬛⬛⬛⬛ ⬛⬛⬛⬛ ⬛⬛⬛, то⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛ и без твоих ⬛⬛⬛⬛⬛⬛⬛ ⬛ ⬛⬛⬛⬛⬛⬛⬛⬛⬛. 

 
